/* iphone-14-pro */
.iphone-14-pro {
    background-image: url(../../Resources/images/Small/hero_iphone14pro__e5xbgo5ffhg2_small.jpg);
    background-size: 450px;
    background-color: black;
}

.iphone-14-pro h4 {
    font-size: 60px;
    font-weight: 700;
    color: #e78cf7;
}

.grey {
    font-size: 18px;
}

@media (min-width:768px) {
    .iphone-14-pro {
        background-image: url(../../Resources/images/Medium/hero_iphone14pro__e5xbgo5ffhg2_medium.jpg);
        background-size: 800px;
    }
}

@media (min-width:992px) {
    .iphone-14-pro {
        background-image: url(../../Resources/images/Large/hero_iphone14pro_argetall_2x.jpg);
        background-size: 1800px;
    }
}