* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.black {
  color: black;
}

.white {
  color: white;
}

.grey {
  color: grey;
}

/* background-image style */
.bg-imgs {
  padding-top: 50px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 700px;
}

@media (min-width:768px) {
  .bg-imgs {
    height: 550px;
  }
}

@media (min-width:992px) {
  .bg-imgs {
    height: 550px;
  }
}

.top-50 {
  padding-top: 43px;
}

@media (min-width:992px) {
  .top-50 {
    padding-top: 40px;
  }
}